.navbar {
  .nav-item .nav-link {
    font-size: 1.4rem !important;
    font-weight: 700 !important;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;

    background-color: $color-grey;

    .dropdown-item {
      font-size: 1.4rem;
      font-weight: 600;
      color: $color-grey--dark;

      padding: 0.75rem;

      &:hover {
        background-color: #fff;
        color: $color-primary;
      }
    }
  }

  &-blue {
    background-color: $color-primary;
  }

  padding-right: 5rem !important;
  padding-left: 5rem !important;

  .navbar-brand {
    .logo {
      width: 3.75rem !important;
      height: 3.75rem !important;
    }
  }

  .nav-item {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .nav-link {
    color: $color-white;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

.bg-default {
  background-color: $color-primary;
}
