body {
  font-family: 'Open Sans', sans-serif;
  font-size: $default-font-size;
  font-weight: 600;
  line-height: 1.6;
  color: $color-grey--dark;
}

.heading {
  font-size: 3rem;
  font-weight: 700;

  &--sub {
    color: $color-grey--dark;
    font-size: 2.4rem;
    font-weight: 700 !important;
  }
}

.sub-heading {
  font-size: 1.8rem;
  font-weight: 800;
  // color: $color-blue-dark;
}

p {
  font-size: $default-font-size;
  line-height: 1.4;
  font-weight: 400;
}

.section {
  &-title {
    font-weight: 800;
    font-size: 3.5rem;
    // color: $color-blue-dark;
  }

  &-text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    // color: $color-text;
  }
}
