$color-primary: #0587f2;
$color-primary--light: #f5f8fa;

$color-green: #159b21;
$color-green--light: #a4d057;

$color-grey: #f5f8fa;
$color-grey--light: #808080;
$color-grey--dark: #454545;

$color-error: #fecec4;

$color-text: #2a2e32;

$color-white: #ffffff;
$color-black: #000000;

$color-blue: #85c7ff;

$default-font-size: 1.6rem;
